NODE_ENV=development

HOST=127.0.0.1

# Database (prisma neon)
DATABASE_URL="postgresql://neondb_owner:npg_I7JPyMxk5zQa@ep-royal-math-amvmpv3n-pooler.c-5.us-east-1.aws.neon.tech/neondb?sslmode=require"

# Redis (upstash)
UPSTASH_REDIS_REST_URL="https://relaxing-mutt-102720.upstash.io" 
UPSTASH_REDIS_REST_TOKEN="gQAAAAAAAZFAAAIocDE2YTc4MmY2OGJjZGQ0NDAxYjlhOGJlMjdjYzk5NGVjOXAxMTAyNzIw"

# Auth
JWT_SECRET=674cfe389c7a961e5e2403148eb3b860cdb99d2ed2c072d5393847bc0d792010e6f3bf355aeb43db92fb65bb590980c7be71c56e77df73d57862d7283050dbc2

# Services
API_GATEWAY_PORT=3000
AUTH_SERVICE_PORT=3001
RESTAURANT_SERVICE_PORT=3002
ORDER_SERVICE_PORT=3003

